.counter {
  font-family: sans-serif;
  text-align: center;
  background-color: #46c6ea;
  margin: 100px;
  border-radius: 20px;
  padding: 30px;
  display: inline-flexbox;

}

.countertitle {
  font-size: 24px;
  margin-bottom: 20px;
}

.countercount {
  font-size: 48px;
  margin-bottom: 30px;
}

.counterbtn {
  background-color: #3f51b5;
  border: none;
  color: #fff;
  font-size: 30px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.counterbtn:hover {
  transform: scale(1.1);
}

.counterbtn--increment {
  margin-right: 20px;
}

.counterbtn--decrement {
  margin-left: 20px;
}